nav {
  font-family: 'Roboto' sans-serif;
  height: 100px;
  background-color: #f8df1f;
  padding-left: 5%;
  padding-top: 2.5%;
}
nav li {
  padding-right: 2%;
  font-size: 18px;
}
nav span {
  color: #ee252f;
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}
h2 span {
  font-family: 'Roboto' sans-serif;
  font-size: 30px;
  color: #ee252f;
  font-weight: 500;
}
footer {
  background-color: #080801;
  border-top: 8px solid #f8df1f;
}
button {
  text-transform: uppercase;
  background-color: #f8df1f;
  font-size: 18px;
  border-radius: 15px;
  font-weight: 500;
}
.top,
.bottom {
  padding: 5% 0;
}
.bottom {
  background-color: #f3f3f3;
}
body header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/banner-bg.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
}
body header .order,
body header .logo {
  padding: 2%;
}
