@import "variables";

//mixins

// Main Body Styles
nav {
    height: 100px;
    background-color: @yellow-primary;
}

h2 {
  text-transform: uppercase;
  span {
    color: @red-primary;
  }
}

footer {
  background-color: @black-primary;
}
// Header styles
header {
    background-image: url("img/banner-bg.png");
}
